body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url("images/bkgd.jpg");
    background-color: #d0f6ff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}

.navbar {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    font-size: medium;
}

.navbar-menu li a:hover {
    background-color: #6e87c7;
}

.container {
    text-align: center;
    width: 90%;
    height: 95%;
    margin: 0 auto;
    margin-top: 60px; /* Adjusted for fixed navbar */
}

.controls {
    margin-bottom: 6px;
}

button {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
    font-size: 20px;
}

#startButton {
    margin-top: 10px;
    font-family: Source Han Serif, Arial, sans-serif;
    background-color: rgb(199, 255, 206);
    font-size: 20px;
}

#startButton:active {
    background-color: rgb(170, 230, 180);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.sort-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.sort-section {
    text-align: center;
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 85%;
    overflow-x: auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.bar {
    margin: 0 1px;
    background-color: rgba(253, 140, 20, 0.525);
    text-align: center;
    position: relative;
    height: 1%;
}

.text {
    color: black;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 95%;
    background: rgba(250, 250, 250, 0.7);
    font-family: 'Times New Roman', Arial, sans-serif;
}

.text2 {
    color: black;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 95%;
    background: rgba(250, 250, 250, 0.7);
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
    font-family: KaiTi, Arial, sans-serif;
}

h1 {
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
}

h2 {
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
}

h4 {
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
    font-size: 15px;
    color: black;
}

select {
    margin: 5px;
    padding: 5px;
    font-family: 'Times New Roman', KaiTi, Arial, sans-serif;
    font-size: 20px;
}
